<h1 class="mb-5">Minhas reservas</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Local</th>
        <th scope="col">Ambiente</th>
        <th scope="col">Data</th>
        <th scope="col">Horário</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-template  ngFor [ngForOf]="reservas" let-reserva let-i="index">
        <tr>
          <th scope="row">{{i+1}}</th>
          <td>{{reserva.quadra.nome}}</td>
          <td>{{reserva.ambiente.nome}}</td>
          <td>{{reserva.data | date:'dd/MM/yyyy'}}</td>
          <td>{{reserva.horario}}</td>  
          <td><i class="fa fa-edit" (click)="openModal(template);editar(this.reserva)"></i></td>        
        </tr>
      </ng-template >
    </tbody>
  </table>
  
  <button style="margin-bottom: 20px;" type="button" class="btn btn-success text-right" routerLink="novaReserva">Nova reserva</button>


  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left" id="my-modal-title">Modal title</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formularioModal" (ngSubmit)="submit()">

        <div class="form-row">
          <div class="col">
            <label for="exampleFormControlSelect1">Local</label>
            <select class="form-control" id="exampleFormControlSelect1"  formControlName="local" (change)="onSelect();onSelectData()">
              <option *ngFor="let local of quadras" [value]="local.idQuadra">{{ local.nome }}</option>
            </select>
          </div>
          <div class="col">
            <label for="exampleFormControlSelect2">Ambiente</label>
            <select class="form-control" id="exampleFormControlSelect2"  formControlName="ambiente" (change)="onSelectData()">
              <option *ngFor="let amb of ambientes" [value]="amb.idAmbiente">{{ amb.nome }}</option>
            </select>
          </div>
        </div>
        <div class="row mt-5">
        <div class="mb-3 col ">
          <label for="exampleFormControlInput1" class="form-label">Data</label>
          <input type="date"  class="form-control" id="exampleFormControlInput1"  formControlName="data" (change)="onSelectData()" >
        </div>
          <div class="mb-3 col">
          <label for="exampleFormControlInput1" class="form-label">Horário</label>
          <select class="form-control" id="exampleFormControlSelect1"  formControlName="horario">
            <option *ngFor="let hor of horarios" [value]="hor.valor">{{ hor.valor }}</option>
          </select>
          Horário antigo: {{horarioAntigo}}
        </div>
      
        
      </div>
      <div class="btns">
        <button  type="submit"  class="btn btn-success text-right mt-5">Salvar</button>
        <div  class="btn btn-danger text-right mt-5 ml-5"  (click)="excluirReserva()">Excluir</div>
    </div>
        
      </form>
    </div>
  </ng-template>

