<form [formGroup]="formulario" (ngSubmit)="submit()">

  <div class="form-row">
    <div class="col">
      <label for="exampleFormControlSelect1">Local</label>
      <select class="form-control" id="exampleFormControlSelect1"  formControlName="local" (change)="onSelect();onSelectData()">
        <option *ngFor="let local of quadras" [value]="local.idQuadra">{{ local.nome }}</option>
      </select>
    </div>
    <div class="col">
      <label for="exampleFormControlSelect2">Ambiente</label>
      <select class="form-control" id="exampleFormControlSelect2"  formControlName="ambiente" (change)="onSelectData()">
        <option *ngFor="let amb of ambientes" [value]="amb.idAmbiente">{{ amb.nome }}</option>
      </select>
    </div>
  </div>
  <div class="row mt-5">
  <div class="mb-3 col ">
    <label for="exampleFormControlInput1" class="form-label">Data</label>
    <input type="date" class="form-control" id="exampleFormControlInput1"  formControlName="data" (change)="onSelectData()" >
  </div>
    <div class="mb-3 col">
    <label for="exampleFormControlInput1" class="form-label">Horário</label>
    <select class="form-control" id="exampleFormControlSelect1"  formControlName="horario">
      <option *ngFor="let hor of horarios" [value]="hor.valor">{{ hor.valor }}</option>
    </select>
  </div>

  
</div>
<button type="submit"  class="btn btn-success text-right mt-5">Reservar</button>

  
</form>
