<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Sucesso</h4>
  
     
  </div>
  <div class="modal-body">
    Reserva feita com sucesso
   
  </div>
  <button type="button"  class="btn btn-success  mt-5 m-2" (click)="modalRef?.hide();home()">Fechar</button>
</ng-template>

<form [formGroup]="formulario" (ngSubmit)="submit()">

  <div class="form-row">
    <div class="col">
      <label for="exampleFormControlSelect1">Local</label>
      <select class="form-control" id="exampleFormControlSelect1"  formControlName="local" >
        <option>Dalla Favera</option>
        <option>Clube Dores</option>
        <option>Basso</option>
        <option>Ginásio do Pito</option>
      </select>
    </div>
    <div class="col">
      <label for="exampleFormControlSelect2">Ambiente</label>
      <select class="form-control" id="exampleFormControlSelect2"  formControlName="ambiente" >
        <option>Campo</option>
        <option>Quadra 1 </option>
        <option>Quadra 2 </option>
        <option>Churasqueira</option>
      </select>
    </div>
  </div>
  <div class="row mt-5">
  <div class="mb-3 col ">
    <label for="exampleFormControlInput1" class="form-label">Data</label>
    <input type="date" class="form-control" id="exampleFormControlInput1"  formControlName="data" >
  </div>
    <div class="mb-3 col">
    <label for="exampleFormControlInput1" class="form-label">Horário</label>
    <input type="time" class="form-control" id="exampleFormControlInput1"  formControlName="horario" >
  </div>
</div>
<button type="submit"  class="btn btn-success text-right mt-5">Reservar</button>

  
</form>
